<h1>Add a Contact</h1>
<p>Add a contact here:</p>
<form action="/" method="post">
    <label for="contact-name">Contact name</label>
    <input id="contact-name" name="contact-name" type="text">
    <label for="contact-number">Contact number</label>
    <input id="contact-number" name="contact-number" type="text">
    <label for="contact-address">Contact address</label>
    <input id="contact-address" name="contact-address" type="text">
    <button type="submit">Add</button>
</form>

<a href="/">Return to homepage</a>
