<h3>You've created a new contact!</h3>
<h4>Details:</h4>
<ul>

    <li><strong>Name: @Model.GetName()</strong></li>
    <li>Number: @Model.GetNumber()</li>
    <li>Address: @Model.GetAddress()</li>

</ul>
<p><a href="/">Return to homepage</a></p>
