<h3>Here are all contact details:</h3>

<ol>

    <li><h4>Name: @Model.GetName()</h4></li>
    <li>Number: @Model.GetNumber()</li>
    <li>Address: @Model.GetAddress()</li>

</ol>
<a href="/">Return to homepage</a>
